<%= form_for @rounting_rule, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :scenario_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :scenario_type, Scenario::SCENARIO_TYPES, :prompt => 'Select scenario type', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :node_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :node_type, Node::NODE_TYPES, :prompt => 'Select node type', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :protocol_in, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :protocol_in, Interface::PROTOCOLS, :prompt => 'Select input protocol', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :protocol_out, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :protocol_out, Interface::PROTOCOLS, :prompt => 'Select output protocol', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :script, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :script, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rounting_rules_path, :class => 'btn' %>
  </div>
<% end %>
