<%= form_for(@rounting_rule) do |f| %>
  <% if @rounting_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rounting_rule.errors.count, "error") %> prohibited this rounting_rule from being saved:</h2>

      <ul>
      <% @rounting_rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scenario_type %><br />
    <%= f.text_field :scenario_type %>
  </div>
  <div class="field">
    <%= f.label :node_type %><br />
    <%= f.text_field :node_type %>
  </div>
  <div class="field">
    <%= f.label :protocol_in %><br />
    <%= f.text_field :protocol_in %>
  </div>
  <div class="field">
    <%= f.label :protocol_out %><br />
    <%= f.text_field :protocol_out %>
  </div>
  <div class="field">
    <%= f.label :script %><br />
    <%= f.text_area :script %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
