<%- model_class = RountingRule -%>
<% if @rounting_rules.count.zero?%>
<div>
  No rules in database. Please seed data using console
  <p>
  <code>rake db:seed</code>
  </p>
</div>
<% else %>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:scenario_type) %></th>
        <th><%= model_class.human_attribute_name(:node_type) %></th>
        <th><%= model_class.human_attribute_name(:protocol_in) %></th>
        <th><%= model_class.human_attribute_name(:protocol_out) %></th>
        <th><%= model_class.human_attribute_name(:script) %></th>
      </tr>
    </thead>
    <tbody>
      <% @rounting_rules.each do |rounting_rule| %>
        <tr>
          <td><%= link_to rounting_rule.scenario_type, rounting_rule_path(rounting_rule) %></td>
          <td><%= rounting_rule.node_type %></td>
          <td><%= rounting_rule.protocol_in %></td>
          <td><%= rounting_rule.protocol_out %></td>
          <td>
            <pre><%= rounting_rule.script %></pre>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>