<%- model_class = Scenario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:scenario_type) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @scenarios.each do |scenario| %>
      <tr>
        <td><%= link_to scenario.title, scenario_path(scenario) %></td>
        <td><%= scenario.scenario_type %></td>
        <td><%=l scenario.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
