<h1>Listing interfaces</h1>

<table>
  <tr>
    <th>Node</th>
    <th>Ip address</th>
    <th>Protocol</th>
    <th>Connected to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interfaces.each do |interface| %>
  <tr>
    <td><%= interface.node_id %></td>
    <td><%= interface.ip_address %></td>
    <td><%= interface.protocol %></td>
    <td><%= interface.connected_to_id %></td>
    <td><%= link_to 'Show', interface %></td>
    <td><%= link_to 'Edit', edit_interface_path(interface) %></td>
    <td><%= link_to 'Destroy', interface, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Interface', new_interface_path %>
